$primary-color: #07bdfe;
$secondary-color: #054175;
.site_header {
	background-color: #fff;
	border-bottom: 1px solid $secondary-color;
	.site_logo {
		// width: 100px;
		filter: brightness(0) invert(1);
	}
	.nav {
		.nav-link {
			color: #fff;
			text-transform: capitalize;
			&:hover {
				color: #fff;
			}
			&.active {
				font-weight: 500;
			}
		}
	}
	form {
		position: relative;
		input {
			padding-right: 20%;
		}
		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background: transparent;
			border: 0;
			&.submit-form {
				right: 10%;
				border-right: 1px solid #000;
			}
			&.reset-form {
				right: 2%;
			}
		}
	}
	#search-results {
		overflow: auto;
		max-height: 643px;
		padding: 10px;
		background-color: #fff;
		border: 1px solid #000;
		border-radius: 6px;
		top: 150%;
		width: 100%;
		left: 0;
		max-width: 308px;
		margin-left: 12px;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: 0.5s ease;
		// height: 0;
		&.show {
			// height: unset;
			z-index: 5;
			opacity: 1;
			visibility: visible;
		}
	}
}
#hero-section {
	background-image: url(../imgs/web_page/hero-bg.jpg);
	background-size: cover;
	background-position: center;
	height: calc(100dvh - 79px);
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(000, 0, 0, 0.4);
		z-index: 0;
	}
	.container {
		z-index: 2;
		.hero-content {
			display: flex;
			flex-direction: column;
			row-gap: 25px;
			align-items: flex-start;
			h1,
			p {
				margin-bottom: 0;
			}
			h1 {
				text-transform: capitalize;
				font-size: 64px;
				line-height: 76px;
			}
			p {
				font-size: 22px;
			}
			button {
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}
	.social-wrapper {
		position: absolute;
		top: 30px;
		left: 30px;
		.line {
			display: block;
			width: 1px;
			height: 36.5dvh;
			background-color: #fff;
		}
		.social-icons {
			i {
				color: #fff;
				font-size: 20px;
			}
		}
	}
}
// About Pg
.team-members-wrap {
	.single-member {
		border: 1px solid #fff;
		border-radius: 8px;
		transition: 0.3s ease;
		background-color: #ffffff62;
		&:hover {
			background-color: #fff;
			box-shadow: 4px 4px 8px rgb(0 0 0 / 40%);
		}
		i,
		.member-name,
		.member-designation {
			color: #000;
		}
		i {
			font-size: 40px;
			border: 2px solid #000;
			padding: 15px;
			border-radius: 100%;
			width: 75px;
			height: 75px;
			text-align: center;
		}
		.member-name {
			text-transform: capitalize;
		}
		.member-designation {
			font-size: 18px;
			font-weight: 500;
			// text-transform: uppercase;
		}
	}
}
